<h1>Nuevo adjunto</h1>

<% url = (@proyecto)? proyecto_proyecto_adjuntos_path(@proyecto): adjuntos_path %>

<%= render :partial => "/adjuntos/form", :locals => {:url => url} %>

<%= link_to 'Atras', adjuntos_path %>