<h1>Tipos de signos</h1>

<%= link_to 'Nuevo tipo de signo', new_tipo_signo_path, :class => 'new' %>

<table class="decorated">
  <tr>
    <th>Sigla</th>
    <th>Nombre</th>
    <th></th>
  </tr>

<% @tipo_signos.each do |tipo_signo| %>
  <tr>
    <td><%=h tipo_signo.sigla %></td>
    <td><%=h link_to tipo_signo.nombre, tipo_signo %></td>
    <td><%= links(tipo_signo) %></td>
  </tr>
<% end %>
</table>

