<p>
  <b>Sigla:</b>
  <%=h @tipo_signos.sigla %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @tipo_signos.nombre %>
</p>


<%= link_to 'Editar', edit_tipo_signo_path(@tipo_signos), :class => 'edit' %> |
<%= link_to 'Lista', tipo_signos_path, :class => 'list' %>
