*.kpf
*.swp
*.swo
*.log
*.sqlite3
*~
*.bak
nbproject
!pub.txt
.~lock*
ç
*.vim
public/javascripts/plugins.js
public/javascripts/scripts.js
doc/wireframes/images/*.*
*.pid
rerun.txt
db/test.sqlite3-journal
archivos/*
*.autosave

