<h2>Listado de agentes</h2>

<table class="decorated">
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th></th>
    </tr>

<% @agentes.each do |agente| %>
  <tr>
   <td><%=h link_to agente.nombre, agente %></td>
   <td><%=h agente.telefono %></td>
   <td><%=h agente.email %></td>
   <td>
     <%= links(agente) %>
   </td>
  </tr>

<% end %>
</table>
