<div class="subder">
<p>
  <label>Nombre:</label>
  <%=h contacto.nombre %>
</p>

<p>
  <label>Cargo:</label>
  <%=h contacto.cargo %>
</p>
<p>
  <label>Teléfono:</label>
  <%=h contacto.telefono %>
</p>

<p>
  <label>Email:</label>
    <%=h contacto.email %>
</p>

<hr/>
</div>
