.dark { color: #484848; }
.grey { color: #676767; }
body {
  padding: 0px;
  margin: 0px;
  background: #efefef;
  color: #000000;
  height: 100%;
  font-family: arial, helvetica, freesans, clean, sans-serif;
  font-size: 78%;
}
body, p, ol, ul {
  font-family: arial, helvetica, freesans, clean, sans-serif;
  line-height: 18px;
}
a {
  color: #2167cb;
  text-decoration: underline;
  cursor: pointer;
}
a:hover { text-decoration: none; }
table.decorated {
  border-collapse: collapse;
  border-bottom: 1px solid #676767;
}
table.decorated tr { border-top: 1px solid #8f8f8f; }
table.decorated th {
  color: #ffffff;
  background: #484848 url(../images/bg_tr_tabs_tab.png) repeat-x scroll 0 50%;
  border-right: 1px solid #484848;
}
table.decorated th a {
  color: #ffffc5;
  text-decoration: none;
}
table.decorated th { padding: 6px 10px; text-align: center; text-transform: uppercase; }
table.decorated th li { margin: 0px; }
table.decorated td { padding: 6px 10px; }
table.decorated td li { margin: 0px; }
table.decorated td { vertical-align: top; }
table.decorated a.edit { display: inline-block; }
table.decorated a.delete { display: inline-block; }
table.nwl td:last-child { white-space: nowrap; }
table.nwf td:first-child { white-space: nowrap; }
.over { background-color: #c2e0ef !important; }
.selected {
  background-color: #61b5df !important;
  color: #ffffff;
}
.even { background-color: #efefef; }
form p {
  clear: both;
  with: 100%;
  margin-bottom: 1em;
}
input[type=text], select, textarea {
  padding: 2px 3px;
  background-color: #ffffff;
  -moz-box-shadow: 2px 2px #dfdfdf;
  -webkit-box-shadow: 2px 2px #dfdfdf;
  box-shadow: 2px 2px #dfdfdf;
  border: 1px solid #666666;
  color: #000000;
}
input[type=submit] {
  font-weight: bold;
  font-size: 1.3em;
  color: #2167cb;
}
input:disabled { background-color: #b9b9b9; }
textarea:disabled { background-color: #b9b9b9; }
select:disabled { background-color: #b9b9b9; }
input[type='file'] {
  color: #000000;
  background-color: #efefef;
  border: 1px solid #666666;
}
select { max-width: 400px; }
.num { text-align: right; }
input.num {
  width: 10em;
  text-align: right;
}
legend { font-weight: bold; }
label {
  vertical-align: top;
  font-weight: bold;
  display: block;
  color: #484848;
  margin: 3px 0px;
}
.boolean label { display: inline-block; }
.radio label { display: inline-block; }
.input { padding: 4px; }
.i { margin: 12px 4px; }
div#cont {
  text-align: left;
  margin: 0px 20px;
  padding: 20px 0px 40px 0px;
}
div#header {
  height: 90px;
  background: transparent url(../images/logo-orpan.jpg) no-repeat 20px 0px;
}
div#header ul {
  list-style: none;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
a.logout {
  background: transparent url(../images/icons/logout.png) no-repeat;
  padding-left: 20px;
}
form ol {
  padding: 0px;
  margin: 0px;
}
form ol ul.errors {
  color: #ff0000;
  font-size: 140%;
}
form ol li {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}
form ol li p.inline-errors {
  margin: 0px;
  color: #ff0000;
}
form ol p.inline-hints {
  color: #676767;
  margin: 0px;
  font-style: italic;
  display: block;
}
form ol .hint {
  color: #676767;
  margin: 0px;
  font-style: italic;
  display: block;
}
form ol li.error input { border: 1px solid #ff0000; }
form ol li.error select { border: 1px solid #ff0000; }
form ol li.error textarea { border: 1px solid #ff0000; }
form ol .in_half ol li {
  width: 49%;
  float: left;
}
form ol .in_half ul li {
  width: 49%;
  float: left;
}
form {
  padding: 0px;
  margin: 0px;
}
form ul.errors {
  color: #ff0000;
  font-size: 140%;
}
form li {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}
form li p.inline-errors {
  margin: 0px;
  color: #ff0000;
}
form p.inline-hints {
  color: #676767;
  margin: 0px;
  font-style: italic;
  display: block;
}
form .hint {
  color: #676767;
  margin: 0px;
  font-style: italic;
  display: block;
}
form li.error input { border: 1px solid #ff0000; }
form li.error select { border: 1px solid #ff0000; }
form li.error textarea { border: 1px solid #ff0000; }
form .in_half ol li {
  width: 49%;
  float: left;
}
form .in_half ul li {
  width: 49%;
  float: left;
}
form.in_half li {
  float: left;
  width: 49%;
  margin-left: 3px;
}
.error { color: #ff0000; }
.errorExplanation {
  color: #ff0000;
  border: 2px solid #ff0000;
  padding-bottom: 12px;
  margin-bottom: 20px;
}
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  background-color: #b9b9b9;
  border-bottom: 2px solid #ff0000;
  margin: 0px;
}
.errorExplanation p {
  padding: 10px;
  font-weight: bold;
}
.notice {
  font-size: 1.1em;
  margin: 0px 0px 15px;
  border: 2px solid;
  padding: 6px;
}
#flashNotice {
  font-size: 1.1em;
  margin: 0px 0px 15px;
  border: 2px solid;
  padding: 6px;
  color: #484848;
  border-color: #5bbf3b;
  background-color: #e4ffe4;
}
#flashError {
  font-size: 1.1em;
  margin: 0px 0px 15px;
  border: 2px solid;
  padding: 6px;
  color: #484848;
  border-color: #ff0000;
  background-color: #ffd8d8;
}
#flashWarning {
  font-size: 1.1em;
  margin: 0px 0px 15px;
  border: 2px solid;
  padding: 6px;
  color: #484848;
  border-color: #ffff00;
  background-color: #ffffc5;
}
.fieldWithErrors {
  padding: 2px;
  background-color: #ff0000;
  display: table;
}
td .fieldWithErrors { display: block !important; }
#wrapper {
  width: 970px;
  margin: 12px auto;
  background-color: #ffffff;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  -moz-box-shadow: 0px 0px 12px #3b4d71;
  -webkit-box-shadow: 0px 0px 12px #3b4d71;
  box-shadow: 0px 0px 12px #3b4d71;
}
ul#navigation {
  height: 36px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: #3b4d71;
  position: relative;
}
ul#navigation li {
  padding: 0px;
  margin: 0px;
  display: inline;
  float: left;
}
ul#navigation li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: 9px 12px;
  border-right: 1px solid #676767;
  border-left: 1px solid #484848;
  color: #ffffff;
}
ul#navigation li a:hover {
  background: #2167cb !important;
  color: #ffff00;
}
ul#navigation li ul {
  display: none;
  padding: 0px;
  margin: 0px;
  background-color: #3b4d71 !important;
  z-index: 200;
  min-width: 140px;
  opacity: 0.95;
}
ul#navigation li ul li { float: none !important; }
ul#navigation li ul li a {
  border-right: none;
  display: block;
  font-weight: normal;
  padding: 6px 12px;
}
ul#navigation li:hover ul {
  display: block;
  position: absolute;
}
.buscar {
  background: #595959;
  padding: 4px;
  display: table;
}
#enc {
  height: 75px;
  border-bottom: 2px solid #666666;
}
#enc .login {
  font-weight: bold;
  padding: 10px 20px;
}
#enc .login a {
  text-decoration: none;
  font-size: 1.6em;
  color: #efefef !important;
}
#enc .login a:hover { text-decoration: underline; }
ul {
  margin: 4px;
  padding: 4px;
}
.comun-ap {
  font-weight: bold;
  padding: 4px 8px !important;
  padding-right: 20px !important;
  margin: 0px 2px;
  border: 1px solid #666666;
  text-decoration: none;
}
.bb { border-bottom: 1px solid #666666; }
.bold { font-weight: bold; }
.bg2 { background-color: #efefef; }
.aprobar {
  font-weight: bold;
  padding: 4px 8px !important;
  padding-right: 20px !important;
  margin: 0px 2px;
  border: 1px solid #666666;
  text-decoration: none;
  background: #efefef url(../images/icons/tick.png) no-repeat right;
}
.rechazar {
  font-weight: bold;
  padding: 4px 8px !important;
  padding-right: 20px !important;
  margin: 0px 2px;
  border: 1px solid #666666;
  text-decoration: none;
  background: #efefef url(../images/icons/cross.png) no-repeat right;
}
.aprobar:hover {
  background-color: #2167cb;
  color: #ffffff;
}
a.rechazar:hover {
  background-color: #2167cb;
  color: #ffffff;
}
ul.inline {
  list-style: none;
  padding: 4px;
  margin: 0px;
  display: table;
}
ul.inline li {
  float: left;
  margin: 0px;
  padding: 0px;
}
ul.inline li a {
  display: block;
  padding: 2px 4px;
}
.margin-side { margin: 0px 4px; }
.resaltar {
  font-weight: bold;
  color: #5bbf3b;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.icon-l {
  background-position: left top !important;
  padding-left: 16px;
}
.icon-r {
  background-position: right top !important;
  padding-right: 16px;
}
.icon-more { background: url(../images/icons/bullet_arrow_down.png) no-repeat; }
.icon-less { background: url(../images/icons/bullet_arrow_up.png) no-repeat; }
.icon-add { background: url(../images/icons/add.png); }
.icon-edit { background: url(../images/icons/pencil.png); }
.icon-delete { background-image: url(../images/icons/delete.png); }
.icon-process { background-image: url(../images/icons/cog.png); }
.icon-show { background-image: url(../images/icons/zoom.png); }
.icon-info { background-image: url(../images/icons/information.png); }
.icon-failed { background-image: url(../images/icons/cross.png); }
.icon-checked { background-image: url(../images/icons/tick.png); }
.icon-dowload { background-icon: url(../images/incons/down.png); }
.icon-top-right { background-position: top right; }
.true {
  background-image: url(../images/icons/tick.png);
  background-repeat: no-repeat;
  background-position: center 50%;
}
.false {
  background-image: url(../images/icons/cross.png);
  background-repeat: no-repeat;
  background-position: center 50%;
}
.big {
  font-size: 1.4em;
  font-weight: bold;
}
a.l-add {
  background: url(../images/icons/add.png);
  background-position: top right;
  padding-right: 18px;
  background-repeat: no-repeat;
}
a.new {
  text-decoration: none;
  background: url(../images/icons/add.png) no-repeat scroll 6px 50%;
  font-weight: bold;
  padding: 5px 8px 5px 26px;
  margin: 10px 5px;
  display: table;
  border: 1px solid #cfcfcf;
}
a.new:hover { color: #5bbf3b; }
a.list {
  background: transparent url(../images/icons/table.png) no-repeat top left;
  padding-left: 16px;
}
a.add {
  background: transparent url(../images/icons/add.png) no-repeat top left;
  padding-left: 16px;
}
a.show {
  background: transparent url(../images/icons/zoom.png) no-repeat top left;
  padding-left: 18px;
}
a.edit {
  background: transparent url(../images/icons/pencil.png) no-repeat top left;
  padding-left: 18px;
}
a.delete {
  background: transparent url(../images/icons/delete.png) no-repeat top left;
  padding-left: 18px;
}
a.fail {
  background: transparent url(../images/icons/cross.png) no-repeat top left;
  padding-left: 18px;
}
a.succeed, a.checked {
  background: transparent url(../images/icons/tick.png) no-repeat top left;
  padding-left: 18px;
}
a.process {
  background: transparent url(../images/icons/cog.png) no-repeat top left;
  padding-left: 18px;
}
a.download {
  background: transparent url(../images/icons/down.png) no-repeat top left;
  padding-left: 18px;
}
a.pdf {
  background: transparent url(../images/icons/page_white_acrobat.png) no-repeat top left;
  padding-left: 18px;
}
a.back {
  background: transparent url(../images/icons/arrow_left.png) no-repeat top left;
  padding-left: 18px;
}
a.error { color: #ff0000; }
span.propia, a.propia, .propia {
  background: transparent url(../images/icons/orpan-mini.png) no-repeat top left;
  padding-left: 18px;
  display: inline-block;
}
span.foranea, a.foranea {
  background: transparent url(../images/icons/blank.png) no-repeat top left;
  padding-left: 18px;
}
.delete-l {
  background-image: url(../images/icons/delete.png);
  background-position: middle left;
  padding-left: 18px;
  background-repeat: no-repeat;
}
.more {
  background: url(../images/icons/bullet_arrow_down.png) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.less {
  background: url(../images/icons/bullet_arrow_up.png) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
a.more {
  display: inline;
  background: url(../images/icons/bullet_arrow_down.png) no-repeat right top;
  padding-right: 18px;
}
a.less {
  display: inline;
  background: url(../images/icons/bullet_arrow_up.png) no-repeat right top;
  padding-right: 18px;
}
.info {
  background-image: url(../images/icons/information.png);
  background-repeat: no-repeat;
  padding-right: 18px;
  background-position: right 50%;
}
.half { width: 49%; }
._25 { width: 24%; }
._20 { width: 19%; }
.fl { float: left; }
.third li { width: 33%; }
.third div { width: 33%; }
.third p { width: 33%; }
.hidden { display: none; }
ul.list {
  margin: 0px;
  padding: 0px;
}
ul.list li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #b9b9b9;
}
ul.menu {
  position: relative;
  padding: 0px;
}
ul.menu a {
  margin: 0px;
  text-decoration: none;
}
ul.menu a:hover { color: #5bbf3b; }
ul.menu li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
ul.menu li ul {
  display: none;
  margin: 0px;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
  margin-top: -1px;
  font-weight: normal;
}
ul.menu li ul li { float: none !important; }
ul.menu li ul li a {
  padding: 4px 12px;
  display: block;
}
ul.menu li:hover ul {
  display: block;
  position: absolute;
}
.b { font-weight: bold; }
.ajax-modal { background-color: #ffffff !important; }
.marked { background-color: #d5e1f1 !important; }
.hide { display: none; }
.hide-field input { display: none; }
.hide-field text-area { display: none; }
.hide-field select { display: none; }
.cambio { color: #a9316f; }
.adjunto {
  width: 16px;
  height: 16px;
  background: transparent url(../images/icons/attach.png) no-repeat;
  display: inline-block;
}
.mime .png {
  padding-left: 16px;
  background: transparent url(../images/icons/picture.png) no-repeat top left;
}
.mime .jpg {
  padding-left: 16px;
  background: transparent url(../images/icons/picture.png) no-repeat top left;
}
.mime .gif {
  padding-left: 16px;
  background: transparent url(../images/icons/picture.png) no-repeat top left;
}
.tooltip {
  position: absolute;
  width: 400px;
  z-index: 10000;
  background-color: #ffffff;
  padding: 4px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
}
#tooltip-error {
  color: #ff0000;
  border-color: #ff0000;
}
#tooltip { border-color: #676767; }
.red { color: #ff0000 !important; }
.green { color: #5bbf3b !important; }
img.mini { cursor: pointer; }
.pad-left-img {
  background-position: left top;
  padding-left: 24px;
}
.pad-right-img {
  background-position: right top;
  padding-right: 24px;
}
a.asc {
  padding-right: 20px;
  background: url("../images/icons/bullet_arrow_up.png") no-repeat scroll right center transparent;
}
a.desc {
  padding-right: 20px;
  background: url("../images/icons/bullet_arrow_down.png") no-repeat scroll right center transparent;
}
._110 { font-size: 110%; }
._120 { font-size: 120%; }
.pad-tb { padding: 10px 0px; }
.pagination {
  font-size: 115%;
  margin: 10px 0px;
}
.pagination .next_page { margin: 0px 5px; }
.pagination .prev_page { margin: 0px 5px; }
.pagination .current { margin: 0px 5px; }
.pagination a { margin: 0px 5px; }
.pagination .next_page { font-weight: bold; }
.pagination .prev_page { font-weight: bold; }
.pagination a { text-decoration: none; }
.clear { clear: both; }
#posts h2 { margin: 10px 0px; }
#posts ul { list-style: none; }
#posts ul li h3 { color: #484848; }
.posts h2 { margin: 10px 0px; }
.posts ul { list-style: none; }
.posts ul li h3 { color: #484848; }
.posts > div { padding: 10px; }
#comments .title {
  margin: 0px 0px;
  background: #484848;
  color: #ffffff;
  padding: 7px 5px;
}
.comments p { margin: 3px 0px; }
.comments h3 { margin: 5px 0px; }
.comments ul { list-style: none; }
.comments ul li.post { border-bottom: 1px solid #000000; }
.breadcrumps {
  margin-top: -10px;
  font-weight: bold;
}
.breadcrumps a { font-weight: normal; }
.ui-dialog .links { display: none; }
.ui-dialog .breadcrumps { display: none; }
#tabla-cruce tr.select { background-color: #dcdcdc; }
#tabla-cruce span.mini { font-size: 1px; }
div#izquierda{ float: left; margin:10px;}
div#derecha{ float: right; width:50%; margin:10px;}
