<form action="/busquedas" method="get">
  <%= text_field_tag :busqueda, params[:busqueda], :size => 40 %>

  <div style="clear:both"></div>

  <div class="half fl">
    <label for="clases">Clases</label>
    <select id="clases" name="clases">
      <option value="1, 2, 4">1, 2, 4</option>
      <option value="3, 5, 10">3, 5, 10</option>
      <option value="6, 14">6, 14</option>
      <option value="7,8,9,11,21">7, 8, 9, 11, 21</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17, 19, 20, 22">17, 19, 20, 22</option>
      <option value="18, 25">18, 25</option>
      <option value="22, 23, 24, 25, 26">22, 23, 24, 25, 26</option>
      <option value="28">28</option>
      <option value="29, 30, 31">29, 30, 31</option>
      <option value="32, 33">32, 33</option>
      <option value="34">34</option>
      <option value="34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45">34 al 45</option>
    </select>
  </div>

  <div class="half fl">
    <label for="">Fechas</label>
    <input id="fecha_ini" name="fecha_ini" type="text" class="date" value="<%= params[:fecha_ini] %>" />
    <input id="fecha_fin" name="fecha_fin" type="text" class="date" value="<%= params[:fecha_fin] %>" />
  </div>

  <div style="clear:both"></div>

  <input type="submit" value="Buscar" />
</form>

