<style type="text/css">
  div.clases_grupos label{
    display: inline-block !important; 
  }
  .clases_grupos fieldset{ 
    float: left; 
    margin: 10px 5px;
  }

  .clases_grupos fieldset legend{ 
    cursor: pointer;
  }

  #clases_seleccionadas{
    height: 15px;
    font-weight: bold;
  }
</style>
<form action="/busquedas" method="get", id="form_buscar" >
  <div style="clear:both"></div>
  <div style="clear:both"></div>
  <%= text_field_tag :busqueda, params[:busqueda], :size => 40 %>

  <div style="clear:both"></div>

  <div class="">
    <ul id="botones">
    	<li>
    		<a href="javascript:" data-clases="1,2,4">1, 2 y 4</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="3,5,10,44">3, 5, 10 y 44</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="6,14">6 y 14</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="7,8,9,11,21">7, 8, 9, 11 y 21</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="17,19,20,22">17,19,20 y 22</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="18,25">18 y 25</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="22,23,24,25,26">22,23,24,25 y 26</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="29,30,31">29,30 y 31</a>
    	</li>
    	<li>
    		<a href="javascript:" data-clases="32,33">32 y 33</a>
    	</li>
    </ul>

    

    <label for="clases">Clases</label>

    <div class="clases_grupos">
      <fieldset>
        <legend>1, 2 y 4</legend>
      </fieldset>

    <input id="oneclass" name="una_clase" type="input" value="" style="display:none"/>
  </div>


  <div style="clear:both"></div>

  <input type="submit" value="Buscar" />
</form>

<script type="text/javascript">
$(document).ready(function() {
  $('input[name=tipo_busqueda]').click(function() {
    if( $(this).val() == 'prep' ) {
      $('#fechas').show();
    }else{
      $('#fechas').hide();
      $('#fechas input').val('');
    }
  });

  $('#form_buscar').submit(function() {
    if( $('#busqueda').val().trim() == '' ) {
      alert('Debe ingresar un termino de busqueda');
      return false;
    }else{
      return true;
    }
  });

  function mostrarClases() {
    var html = $('.clases_grupos').find("input:checkbox").map(function(i, el) {
      if($(el).attr("checked")) {
        return 1 * $(el).val();
      }
    }).get();
    $('#clases_seleccionadas').html(html.join(", "));
  }

  // Evento para los legend
  $('.clases_grupos').find("legend").live('click', function() {
    var fieldset = $(this).parent("fieldset");
    if(fieldset.data('checked')) {
      fieldset.find("input:checkbox").attr("checked", false);
      fieldset.data("checked", false);
    }else {
      fieldset.find("input:checkbox").attr("checked", true);
      fieldset.data("checked", true);
    }
    //mostrarClases();
  });

  // Evento para los checkbox
  /*$('.clases_grupos').find("input:checkbox").live('click', function() {
    mostrarClases();
  });*/

});
</script>

