<style type="text/css">
  #paises_grupos{
    padding: 0px;
    border:1px solid #676767;
    margin: 10px 0px;
    width: 900px;
  }
  #paises_grupos label{
    display: inline-block !important; 
    width: 45px;
    height: 30px;
  }
  ul#botones_p{
    width: 150px;
    float:left;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  ul#botones_p li{
    padding: 0px;
    margin: 0px;
  }
  ul#botones_p li a{
    width: 100%;
    display:block;
    text-decoration: none;
    color: #FFF;
    background-color: #2167CB;
    border-bottom: 1px solid #FFF;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px;
  }
  ul#botones_p li a.sel{
    background-color: #5BBF3B;
  }
  #paises{
    float: left;
    width: 730px;
    margin-left: 20px;
  }
  #paises div label{
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
</style>

<label for="">Países</label>
<div id="paises_grupos">
  <ul id="botones_p">
    <li>
      <a href="javascript:" data-paises="CA, US, MX">Norte América</a>
    </li>
    <li>
    <a href="javascript:" data-paises="AR, BO, BR, CL, CO, EC, GY, PY, PE, UY, VE">Sud América</a>
    </li>
    <li>
    <a href="javascript:" data-paises="AI, AG, AN, AW, BS, BB, BZ, CR, CU, DM, SV, GD, GP, GT, HT, HN, VI, VG, JM, MS, NI, PA, PR, DO, VC, LC, TT, TC">Centro América</a>
    </li>
    <li>
      <a href="javascript:" data-paises="AL, DE, AD, AT, BE, BY, BA, BG, CY, EU, HR, DK, SK, SI, ES, EE, FI, FR, GI, GR, GL, NL, HU, IE, IM, IS, JE, FO, IT, LU, MK, MT, MD, MC, ME, NO, PL, PT, UK, CZ, RO, RU, SM, SH, RS, SE, CH, UA, SU ">Europa</a>
    </li>
    <li>
      <a href="javascript:" data-paises="AZ, BD, BN, KH, CN, KR, PH, GE, HK, IN, ID, JP, KZ, KG, LA, MY, MN, NP, PK, SG, LK, TH, TW, TJ, IO, TL, UZ, VN">Asia</a>
    </li>
    <li>
      <a href="javascript:" data-paises="AF, SA, AE, IR, IL, JO, KW, LB, OM, PS, SY, TR, YE">Medio Oriente</a>
    </li>
    <li>
      <a href="javascript:" data-paises="AO, DZ, BW, BI, CM, CI, EG, ET, GM, GH, AC, RE, KE, LS, LY, MG, MW, MA, MU, MZ, NA, NG, CG, CD, RW, ST, SC, SL, ZA, SD, TZ, TG, TN, UG, DJ, ZM, ZW">Africa</a>
    </li>
    <li>
      <a href="javascript:" data-paises="AU, FJ, HM, CX, CK, MP, NF, SB, KI, NR, NU, NZ, PG, PN, AS, TK, TO, VU">Oceania</a>
    </li>
  </ul>


  <div id="paises">
    <div>
        <% Pais.order("id ASC") %>
        <% Pais.order("id").each do |p| %>
        <%# (1..238).each do |j| %>
          <%# a = Pais.find(p) %>
          <% @id = p.codigo %>
          <label for="paises_<%= @id %>">
            <% @val = !params[:paises] ? false : params[:paises] ? true : false %>
            <%= check_box_tag "paises[#{@id}]", @id, @val %>
            <%= @id %>
          </label>
        <% end %>
      </div>
  </div>
  <div style="clear:both"></div>
</div>
<script>
  $(document).ready(function (){
  // Busca si existe el valor en el array
  function include(arr, obj) {
    for(var i=0; i<arr.length; i++) {
      if (arr[i] == obj) return true;
    }
    return false;
  }
  window.include = include;

  /**
  * Marca los botones que estan seleccionados
  */
  function marcarBotones() {
    var arr = $('#paises_grupos').find("input:checkbox:checked").map(function(i, el) { return el.value; }).get();

    $('#botones').find('a').each(function(i, el) {
      var paises = $(el).attr("data-paises").split(",");
      var encontrado = true;
      $(paises).each(function(index, elem) {
        if(!include(arr, elem)) {
          encontrado = false;
          return;
        }
      });
      if(encontrado) {
        $(el).addClass("sel");
        }else {
        $(el).removeClass("sel");
      }
    });
  }

  $('#botones_p').find("a").live('click', function() {
    var paises = $(this).attr("data-paises").split(",");
    var val = !$(this).hasClass("sel");

    $(paises).each(function(i, el) {
      $('#paises_' + el).attr("checked", val);
    });
    marcarBotones();
  });

  $('#paises_grupos').find("input:checkbox").live('click', function() {
    marcarBotones();
  });

  // Al iniciar
  marcarBotones();
  });
</script>
