<% semantic_form_for(@tipo_marca) do |tm| %>
  <%= tm.semantic_errors %>

  <%= tm.input :nombre, :label => 'Nombre' %>
  <%= tm.input :descripcion, :label => 'Descripcion', :as => :text %>
  <p>
    <%= tm.submit 'Salvar' %>
  </p>
<% end %>


