<h1>Tipos de marca</h1>


<%= link_to 'Nuevo tipo marca', new_tipo_marca_path, :class => 'new' %>

<table>
  <tr>
    <th>Sigla</th>
    <th>Nombre</th>
  </tr>

<% @tipo_marcas.each do |tipo_marca| %>
  <tr>
    <td><%= link_to tipo_marca.nombre, tipo_marca %></td>
    <td><%= tipo_marca.sigla %></td>
    <td><%= links(tipo_marca) %></td>
  </tr>
<% end %>
</table>

