<h1>Tipos de marcas</h1>

<%= link_to 'Nuevo tipo de marca', new_tipo_marca_path, :class => 'new' %>

<table class="decorated">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
  </tr>

<% @tipo_marcas.each do |tipo_marca| %>
  <tr>
    <td><%=h link_to tipo_marca.nombre, tipo_marca %></td>
    <td><%=h tipo_marca.descripcion %></td>
    <td><%= links(tipo_marca) %></td>
  </tr>
<% end %>
</table>

