<p>
  <b>Nombre:</b>
  <%=h @tipo_marca.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @tipo_marca.descripcion %>
</p>


<%= link_to 'Editar', edit_tipo_marca_path(@tipo_marca), :class => 'edit' %> |
<%= link_to 'Lista', tipo_marcas_path, :class => 'list' %>
