@background: #FFF; 
@background2: #EFEFEF;
@border_color: #666666;
@color: #000;
@color2: #0A0A0A;
@buscar_color: #595959; /**/
@tr_background: #C2E0EF; /*Background TR*/
@tr_selected: #61B5DF;
@table_border_color: #8f8f8f;

@black: #000;
@white: #FFF;
@white_tan: #DCDCDC;
@red: #FF0000;
@dark_red:#C42B2B;
@light_red:#FFD8D8;
@dark: #484848;
@grey:#676767; 
@light_grey: #B9B9B9;
@blue: #2167CB;
@light_blue:#D5E1F1;
@dark_blue: #3B4D71;
@green: #5BBF3B;
@dark_green:#003000;
@light_green:#E4FFE4;/* #DBFFDB;*/
@yellow:#FFFF00;
@light_yellow:#FFFFC5;
@dark_yellow:#D0D02A;
@cherry: #A9316F;

.dark{ color: @dark;}
.grey{ color: @grey;}

@menu: #45818E;

body{
  padding: 0px;
  margin: 0px;
  background: #EFEFEF; 
  color: @black;
  height: 100%;
  font-family: arial,helvetica,freesans,clean,sans-serif;
  font-size:   78%;
}

body, p, ol, ul{
  font-family: arial,helvetica,freesans,clean,sans-serif;
  line-height: 18px;
}
a { color: @blue; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; }

table.decorated{
  border-collapse: collapse;
  border-bottom: 1px solid @grey;
  tr{
    border-top: 1px solid @table_border_color;
  }
  th{
    color:@white;
    background: @dark url(../images/bg_tr_tabs_tab.png) repeat-x scroll 0 50%;
    border-right: 1px solid @dark;
    a{
      color: @light_yellow;
      text-decoration: none;
    }
  }
  th, td{
  /*  border: 1px solid @border_color_table;*/
    padding: 6px 10px;
    li{ margin: 0px; }
  }
  td{ vertical-align: top; }
  /*th:last-child{ width:110px; }*/
  /*th.last{ width:110px; }*/
}
table.nwl{
  td:last-child{
    white-space: nowrap;
  }
}
table.nwf{
  td:first-child{
    white-space: nowrap;
  }
}

.over{
  background-color: @tr_background !important;
}
.selected{
  background-color: @tr_selected !important;
  color: #FFF;
}
.even{
  background-color: #EFEFEF;
}

/*Forms*/
form p{
  clear: both;
  with: 100%;
  margin-bottom: 1em;
}

input[type=text], select, textarea{
  padding: 2px 3px;
  /*background: @background2;*/
  background-color: @white;

  -moz-box-shadow: 2px 2px #DFDFDF;
  -webkit-box-shadow: 2px 2px #DFDFDF;
  box-shadow: 2px 2px #DFDFDF;

  border: 1px solid @border_color;
  color: @color;
}
input[type=submit] {
  font-weight:bold;
  font-size: 1.3em;
  color:@blue;
}
input:disabled, textarea:disabled, select:disabled{
  background-color: @light_grey;
}
input[type='file'] {
  color: @color;
  background-color: @background2;
  border: 1px solid @border_color;
}
select{
  max-width: 400px;
}
.num{
  text-align:right;
}
input.num{
  width: 10em;
  text-align: right;
}
legend{
  font-weight: bold;
}

label{
  vertical-align: top;
  font-weight: bold;
  display: block;
  color: @dark;
  margin: 3px 0px;
}
.input{
  padding: 4px;
}

.i{
  margin: 12px 4px;
}

/***************************/
/*LAYOUT*/
div#cont{ 
  text-align:left;
  margin:0px 20px;
  padding: 20px 0px 40px 0px;
}

div#header{
  height:90px;
  background: transparent url(../images/logo-orpan.jpg) no-repeat 20px 0px;
  ul{
    list-style: none;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    li{
    }
  }
}
a.logout{
  background: transparent url(../images/icons/logout.png) no-repeat;
  padding-left: 20px;
}

/* Formtastic */
form ol, form{

  ul.errors{
    color: @red;
    font-size: 140%;
  }

  padding: 0px;
  margin: 0px;
  li{
    list-style:none;
    padding: 0px;
    margin: 0px 0px 15px 0px;
    p.inline-errors{
      margin: 0px;
      color: @red;
    }
  }
  p.inline-hints{
    color: @grey;
    margin:0px;
    font-style: italic;
  }

  li.error{
    input, select, textarea{
      border: 1px solid @red;
    }
  }

  .in_half{
    ol li, ul li{
      width: 49%;
      float: left;
    }
  }
}

form.in_half li{
  float: left;
  width: 49%;
  margin-left: 3px;
}
.error{
  color: @red;
}

.errorExplanation{
  color: @red; 
  border: 2px solid @red;
  padding-bottom: 12px;
  margin-bottom: 20px;
  h2{
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    background-color: @light_grey;
    border-bottom: 2px solid @red;
    margin: 0px;
  }
  p{
    padding: 10px;
    font-weight: bold;
  }
}

.notice{
  font-size: 1.2em;
  margin: 0px 0px 15px;
  border: 4px solid;
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#flashNotice{
  .notice;
  color: @green;
  border-color:@green;
  background-color:@light_green;
}
#flashError{
  .notice;
  color: @red;
  border-color:@red;
  background-color:@light_red;
}
#flashWarning{
  .notice;
  color: @dark_yellow;
  border-color:@yellow;
  background-color:@light_yellow;
}

.fieldWithErrors {
  padding: 2px;
  background-color: @red;
  display: table;
}
td .fieldWithErrors {
  display: block !important;
}


/* Contenidos */
#wrapper{
  width: 970px;
  margin: 12px auto;
  background-color: @white;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border-radius:15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;

  -moz-box-shadow: 0px 0px 12px @dark_blue;
  -webkit-box-shadow: 0px 0px 12px @dark_blue;
  box-shadow: 0px 0px 12px @dark_blue;
}

/* Menu */
@a_menu_color: #5f5f5f;
ul#navigation{
  height: 36px;
  list-style: none;
  padding: 0px; margin: 0px;
  background: @dark_blue;
  position: relative;
  li{
    padding: 0px;
    margin:0px;
    display: inline; float: left;

    a{
      display: block;
      text-decoration: none;
      font-weight: bold;
      font-size: 1em;
      padding: 9px 12px;
      border-right: 1px solid @grey;
      border-left: 1px solid @dark;
      color: @white;
    }
    a:hover{
      background: @blue !important;
      color:@yellow;
    }
    ul{
      display: none;
      padding: 0px;
      margin: 0px;
      background-color: @dark_blue !important;
      z-index: 200;
      min-width: 140px;
      opacity: 0.95;
      li{
        float:none !important;
        a{
          border-right:none;
          display: block;
          font-weight: normal;
          padding: 6px 12px;
        }
      }
    }
  }
  li:hover{
    ul{
      display: block;
      position: absolute;
    }
  }
}
.buscar{
  background: @buscar_color;
  padding: 4px;
  display: table;
}
#enc{
  height: 75px;
  border-bottom: 2px solid @border_color;
  .login{
  font-weight: bold;
  padding: 10px 20px;
  a{
    text-decoration:none;
    font-size:1.6em;
    color: @background2 !important;
  }
  a:hover{text-decoration:underline; }
}
}

ul{margin:4px; padding:4px;}

/* Estilos especiales con imagenes*/
.comun-ap{
  font-weight: bold;
  padding: 4px 8px !important;
  padding-right: 20px !important;
  margin: 0px 2px;
  border: 1px solid @border_color;
  text-decoration: none;
}
.bb{border-bottom: 1px solid @border_color;}

.bold{ font-weight: bold;}
.bg2{
  background-color: @background2;
}

.aprobar{
  .comun-ap;
  background: @background2 url(../images/icons/tick.png) no-repeat right;
}

.rechazar{
  .comun-ap;
  background: @background2 url(../images/icons/cross.png) no-repeat right;
}

.aprobar:hover, a.rechazar:hover{
  background-color: @blue;
  color: @background;
}

ul.inline{
  list-style: none;
  padding: 4px;
  margin: 0px;
  display: table;

  li{
    float:left;
    margin: 0px;
    padding: 0px;

    a{
      display: block;
      padding: 2px 4px;
    }
  }

}


.margin-side{
  margin: 0px 4px;
}

.resaltar{
  font-weight: bold;
  color: @green;
}
.icon{
  display: inline-block;
  width: 16px;
  height: 16px;
 }
.icon-l{
  background-position: left top !important;
  padding-left: 16px;
}
.icon-r{
  background-position: right top !important;
  padding-right: 16px;
}
.icon-more{
  background: url(../images/icons/bullet_arrow_down.png) no-repeat;
}
.icon-less{
  background: url(../images/icons/bullet_arrow_up.png) no-repeat;
}
.icon-add{
  background: url(../images/icons/add.png);
}
.icon-edit{
  background: url(../images/icons/pencil.png);
}
.icon-delete{
  background-image: url(../images/icons/delete.png);
}
.icon-process{
  background-image: url(../images/icons/cog.png);
}
.icon-show{
  background-image: url(../images/icons/zoom.png);
}
.icon-info{
  background-image: url(../images/icons/information.png);
}
.icon-failed{
  background-image: url(../images/icons/cross.png);
}
.icon-checked{
  background-image: url(../images/icons/tick.png);
}
.icon-dowload{
  background-icon: url(../images/incons/down.png);
}
.icon-top-right{
  background-position:top right;
}
.true{
  .icon-checked;
  background-repeat: no-repeat;
  background-position: center 50%;
}
.false{
  .icon-failed;
  background-repeat: no-repeat;
  background-position: center 50%;
}

@icon_pad: 18px;
.big{ 
  font-size: 1.4em;
  font-weight: bold;
}
a.l-add{
  .icon-add;
  .icon-top-right;
  padding-right: @icon_pad;
  background-repeat: no-repeat;
}

a.new{
  text-decoration: none;
  background: url(../images/icons/add.png) no-repeat scroll 6px 50%;
  font-weight: bold;
  padding: 5px 8px 5px 26px;
  margin: 10px 5px;
  display: table;
  border: 1px solid #CFCFCF;
}
a.new:hover{ color: @green; }

/*************************************************************************
 * Lista de iconos para vinculos
 */
a.list{
  background: transparent url(../images/icons/table.png) no-repeat top left;
  padding-left: 16px;
}
a.add{ 
  background: transparent url(../images/icons/add.png) no-repeat top left;
  padding-left: 16px;
}

a.show{
  background: transparent url(../images/icons/zoom.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.edit{
  background: transparent url(../images/icons/pencil.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.delete{
  background: transparent url(../images/icons/delete.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.fail{
  background: transparent url(../images/icons/cross.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.succeed, a.checked{
  background: transparent url(../images/icons/tick.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.process{
  background: transparent url(../images/icons/cog.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.download{
  background: transparent url(../images/icons/down.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.pdf{
  background: transparent url(../images/icons/page_white_acrobat.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.back{
  background: transparent url(../images/icons/arrow_left.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.back{
  background: transparent url(../images/icons/arrow_left.png) no-repeat top left;
  padding-left: @icon_pad;
}
a.error{
  color: @red;
}
/*********************************************************************/

span.propia, a.propia{
  background: transparent url(../images/icons/orpan-mini.png) no-repeat top left;
  padding-left: @icon_pad;
}
span.foranea, a.foranea{
  background: transparent url(../images/icons/blank.png) no-repeat top left;
  padding-left: @icon_pad;
}

.delete-l{
  .icon-delete;
  background-position: middle left;
  padding-left: @icon_pad;
  background-repeat: no-repeat;
}

.more{
  .icon-more;
  width: 16px;
  height: 16px;  
  display: inline-block;
  vertical-align: middle;
}

.less{
  .icon-less;
  width: 16px;
  height: 16px;  
  display: inline-block;
  vertical-align: middle;
}
a.more{
  display: inline;
  background: url(../images/icons/bullet_arrow_down.png) no-repeat right top;
  padding-right: @icon_pad;
}
a.less{
  display: inline;
  background: url(../images/icons/bullet_arrow_up.png) no-repeat right top;
  padding-right: @icon_pad;
}
.info{
  .icon-info;
  background-repeat: no-repeat;
  padding-right: @icon_pad;
  background-position: right 50%;
}

/* Clases especiales*/

.half{
  width: 49%;
}


.fl{ float: left; }


.third{
  li{
    width: 33%;
  }
  div{
    width: 33%;
  }
  p{
    width: 33%
  }
}

.hidden{
  display: none;
}

ul.list{
  margin: 0px;  
  padding: 0px;
  li{
    list-style:none;
    margin: 0px;  
    padding: 0px;
    border-bottom: 1px solid @light_grey;
  }
}



ul.menu{
  position: relative;
  padding: 0px;
  a{
    margin: 0px;
    text-decoration: none;
  }
  a:hover{
    color: @green;  
  }
  li{
    list-style: none;
    margin:0px;
    padding: 0px;
    float: left;
    ul{
      display: none;
      margin: 0px;
      border: 1px solid @light_grey;
      background-color: @white;
      margin-top: -1px;
      font-weight: normal;
      li{
        float: none !important;
        a{
          padding: 4px 12px;
          display: block;
        }
      }
    }
  }  
  li:hover{
    ul{
      display: block;
      position:absolute;
    }
  }
}
.b{ font-weight: bold;}

.ajax-modal{
  background-color: @white !important;
}

.marked{
  background-color: @light_blue !important;
}

.hide{
  display:none;
}
.hide-field{
  input, text-area, select{
    display: none;
  }

}
.cambio{
  color: @cherry;
}
.adjunto{
  width: 16px;
  height: 16px;
  background: transparent url(../images/icons/attach.png) no-repeat;
  display: inline-block;
}

.propia{
  background-color: @light_green;
}

/*********************/
/*clases para tipos de documentos*/
.mime{
  .png, .jpg, .gif{
    padding-left: 16px;
    background: transparent url(../images/icons/picture.png) no-repeat top left;
  }
}

.tooltip{
  position:absolute;
  width: 400px;
  z-index: 10000;
  background-color: @white;
  padding: 4px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-width: 4px;
  border-style: solid;
}
#tooltip-error{
  color: @red;
  border-color: @red;
}
#tooltip{
  border-color: @grey;
}

/* Colores de texto */
.red{
  color: @red !important;
}
.green{
  color: @green !important;  
}

img.mini{
  cursor: pointer;
}
.pad-left-img{
  background-position: left top;
  padding-left: 24px;
}
.pad-right-img{
  background-position: right top;
  padding-right: 24px;
}
a.asc{
  padding-right: 20px;
  background: url("../images/icons/bullet_arrow_up.png") no-repeat scroll right center transparent;
}
a.desc{
  padding-right: 20px;
  background: url("../images/icons/bullet_arrow_down.png") no-repeat scroll right center transparent;
}

._110{
  font-size: 110%;
}
._120{
  font-size: 120%;
}
.pad-tb{
  padding: 10px 0px;
}

.pagination{
  font-size: 115%;
  margin: 10px 0px;
  .next_page, .prev_page, .current, a{
    margin: 0px 5px;
  }
  .next_page, .prev_page{
    font-weight: bold;
  }
  a{
    text-decoration: none;
  }
}

.clear{
  clear:both;
}

#posts, .posts{
  h2{ margin: 10px 0px; }
  ul{
    list-style: none;
    li{
      h3{
        color: @dark;
      }
    }
  }
}
.posts>div{
  padding: 10px;
}

#comments .title { margin: 0px 0px; background: #484848; color: #FFF; padding: 7px 5px; }
.comments p{ margin: 3px 0px;  }
.comments h3 { margin: 5px 0px; }
.comments ul{ list-style: none; }
.comments ul li.post{ border-bottom: 1px solid #000 }

.breadcrumps{
  margin-top: -10px;
  font-weight: bold;
  a{
    font-weight: normal;
  }
}
