<h1>Solicitudes</h1>


<% semantic_form_for( @marca, :url => solicitudes_path, :html => { :multipart => true } ) do |f| %>
  <div class="in_half">
    <%= f.input :tipo, :as => :radio, :collection => Marca::TIPOS %>
  </div>

  <div class="half fl">
    <%= f.input :fecha_gen, :label => 'Fecha', :input_html => { :class => 'date' } %>
  </div>

  <div class="half fl"> 
    <%= f.input :archivo, :as => :file, :label => "Archivo" %>
  </div>

  <div style="clear:both"></div>

  <%= f.submit "Importar" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
  });
</script>
