<div class="breadcrumps">
  <%= link_to 'Lista de signos', marcas_path, :class =>'list' %> > Nuevo signo <%= @tipo_signo %>
</div>
<h1>Nuevo signo - <%= @tipo_signo %> </h1> 

<%= render :partial => "form" %>
