- title "Nuevo servicio"

= render :partial => 'form', :locals => {:url => proyecto_proyecto_proyecto_items_path(@proyecto, @proyecto_items)}

%p= link_to "Back to List", proyecto_proyecto_items_path(@proyecto)
