<h2>Listado de titulares</h2>
<table class="decorated">
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th></th>
    </tr>

<% @titulares.each do |titular| %>
  <tr>
   <td><%=h link_to titular.nombre, titular %></td>
   <td><%=h titular.telefono %></td>
   <td><%=h titular.email %></td>
   <td>
     <%= links(titular) %>
   </td>
  </tr>

<% end %>
</table>
