%tr
  %td{:colspan => 5}= "Gaceta " + @reporte_marca.importacion.publicacion + " del " +  l(@reporte_marca.importacion.publicacion_fecha)
%tr
  %td{:colspan => 5} Carta
%tr
  %td{:colspan => 5}= @reporte_marca.carta

