  <table class="decorated">
    <tr>
      <th><%= params[:tipo].to_s.capitalize %></th>
    </tr>
    <% @tipo = params[:tipo].to_s.singularize << "_id" %>
    <% @representantes.each do |rep| %>
      <tr>
        <td><%= link_to rep, 
          cruce_reporte_marca_path('reporte', :representante_id => rep.id, 
                                   :representante_type => params[:tipo].to_s.singularize.capitalize ,
                                   :importacion_id => params[:importacion_id]) %></td>
      </tr>
    <% end %>
  </table>

