<table class="decorated">
	<tr>
		<th class="_200">Marca propia</th>
		<th class="_200">Marca agena</th>
		<th>Comentario</th>
	</tr>
  <% @reporte_marca.reporte_marca_detalles.each do |rd|  %>
  <tr>
    <td>
      <% @marca = rd.marca_propia %>
      <%= render :partial => "marca_propia", :locals => { :marca => rd.marca_propia } %>
    </td>
    <td>
      <%= render :partial => "marca_foranea", :locals => { :marca => rd.marca_foranea } %>
    </td>
    <td><%= rd.comentario %></td>
  </tr>
  <% end %>
</table>
