<table class="decorated">
  <%= render :partial => "cruce" if show_titulares%>
  <tr style="background-color: #000; color: #fff">
      <th>Denominación</th>
      <th>Tipo signo</th>
      <th>Tipo marca</th>
      <th>Cl</th>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Comentario</th>
  </tr>
  <% @reporte_marca.reporte_marca_detalles.each do |rd|  %>
    <tr>
        <% @marca = rd.marca_propia %>
        <%= render :partial => "marca_propia", :locals => { :marca => rd.marca_propia } %>
      <td><%= rd.comentario %></td>
    </tr>
  <% end %>
</table>
