<div class="breadcrumps">
  <%= link_to "Lista de importaciones", importaciones_path %> > Agentes y Títulares
</div>
<h1>Reportes imporatción <%= @importacion.gaceta %></h1>

<div id="tabs">
  <ul>
    <li>
      <a href="#agentes">Agentes</a>
    </li>
    <li>
    <a href="<%= cruces_reporte_marcas_path(:tipo => 'titulares', :importacion_id => params[:importacion_id]) %>">Títulares</a>
    </li>
  </ul>
  <div id="agentes">
    <%= render "representantes" %>
  </div>
</div>


<script type="text/javascript">
  $(function() {
      $('#tabs').tabs();
  })
</script>
