- simple_form_for @instruccion,  :url => url do |f|
  = f.error_messages
  = render :partial => "/proyecto/proyectos/instruccion_fields", :locals => {:f => f, :contador => (@instruccion.new_record?)? @instruccion.siguiente_id : @instruccion.contador}
  = f.button :submit
