#tabs-instruccion{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-instruccion-1'}
        Asignadas por mi
    %li
      %a{:href=>'#tabs-instruccion-2'}
        Mis Tareas

  #tabs-instruccion-1
    - for instruccion in instrucciones
      %p
        Referencia email
        = link_to(instruccion.email.asunto, proyecto_proyecto_correspondencia_path(@proyecto, instruccion.email)) if instruccion.email
      %p= link_to 'Editar',  edit_proyecto_proyecto_instruccion_path(@proyecto, instruccion), :class=>'edit'
      %p= link_to "Añadir Instruccion", new_proyecto_proyecto_instruccion_path(@proyecto), :class=>'new'
      = render :partial =>'proyecto/instruccion_detalles/listado', :locals =>{:instruccion_detalles => instruccion.instruccion_detalles, :instruccion => instruccion}
  #tabs-instruccion-2
    Asignada por mi
:javascript
  $(function() {
   $("#tabs-instruccion").tabs();
  });
