#tabs-instruccion{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-instruccion-1'}
        Asignadas por mi
    %li
      %a{:href=>'#tabs-instruccion-2'}
        Mis Tareas

  #tabs-instruccion-1
    - for instruccion in instrucciones
      %p Referencia email
      = instruccion.referencia_email
      %br
      %p= link_to 'Editar',  edit_proyecto_proyecto_instruccion_path(@proyecto, instruccion), :class=>'edit'
      %p= link_to "Añadir Instruccion", new_proyecto_proyecto_instruccion_path(@proyecto), :class=>'new'
      = render :partial =>'proyecto/instruccion_detalles/listado', :locals =>{:instruccion_detalles => instruccion.instruccion_detalles.paginate(:per_page=>5, :page=>params[:page]), :instruccion => instruccion}
  #tabs-instruccion-2
    Asignada por mi
:javascript
  $(function() {
   $("#tabs-instruccion").tabs();
  });
