- title "Instruccion"

= render :partial=>'form', :locals => {:url => proyecto_proyecto_instrucciones_path(@proyecto, @instrucciones)}

%p= link_to "Back to List", proyecto_proyecto_instrucciones_path(@proyecto)

