#tabs-correspondencia{:style=>'font-size:11px;'}
  %ul
    %li
      %a{:href=>'#tabs-correspondencia-1'}
        Correspondencia
    %li
      %a{:href=>'#tabs-correspondencia-2'}
        Adjuntos

  #tabs-correspondencia-1
    #remote
      = render :partial => "/proyecto/correspondencias/show"
  #tabs-correspondencia-2
    = render :partial => "/adjuntos/index", :locals => {:adjuntos => @proyecto.todos_los_adjuntos}

:javascript
  window.selectorAjax = "tabs-correspondencia";
  $(function() {
    $("#tabs-correspondencia").tabs();
    $(".correspondencia, .next-email, .previus-email, .pagination a").live("click", ajaxeable);
  });
