%h2 "Nueva Correspondencia"

= render :partial => 'form', :locals => {:url => proyecto_proyecto_correspondencias_path(@proyecto)}

%p= link_to "Volver", proyecto_proyecto_correspondencias_path(@proyecto), :class => 'new'
