<li>
  <h3>Titulo</h3>
</li>
<div id="post_show_iframe"></div>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js?1280353099"></script>
<script type="text/javascript">
$(document).ready( function() {
    setTimeout(function(){
    $(parent.document.body).trigger("iframe:click");
    //.getElementByTagName('body')).find('a.post').trigger('click');
    }, 1000);
})
</script>
