<p>
  <b>Nombre:</b>
  <%=h @pais.nombre %>
</p>

<p>
  <b>Codigo:</b>
  <%=h @pais.codigo %>
</p>


<%= link_to 'Editar', edit_pais_path(@pais), :class =>'edit'%> |
<%= link_to 'Lista', paises_path, :class =>'list' %>
