
= render :partial => 'form', :locals =>{ :url => proyecto_proyecto_instruccion_instruccion_detalles_path(@proyecto, @instruccion)}

= link_to "Listado", proyecto_proyecto_path(@proyecto), :class => 'new'
