- title "Edit Proyecto/Instruccion Detalle"

= render 'form'

%p
  = link_to "Show", proyecto_instruccion_detall_path(@instruccion_detalle)
  |
  = link_to "View All", proyecto_instruccion_detalles_path
