- title "Edit Proyecto/Instruccion Detalle"

= render 'form'

%p
  = link_to "Show", proyecto/instruccion_detalle_path(@proyecto/instruccion_detalle)
  |
  = link_to "View All", proyecto/instruccion_detalles_path
