
= render :partial => 'form', :locals =>{ :url => proyecto_proyecto_instruccion_instruccion_detall_path(@proyecto, @instruccion, @instruccion_detalle)}

= link_to "Listado", proyecto_proyecto_path(@proyecto), :class => 'new'
