
= render :partial => 'form', :locals =>{ :url => proyecto_proyecto_instruccion_instruccion_detalles_path(@proyecto, @instruccion)}

= link_to "View All", proyecto_proyecto_instruccion_instruccion_detalles_path(@proyecto, @instruccion), :class => 'new'
