= render :partial => 'form', :locals =>{ :url => add_tarea_proyecto_proyecto_instrucciones_path(@proyecto), :contador => (@instruccion_detalle.siguiente_id)}

%p= link_to "Volver", proyecto_proyecto_path(@proyecto), :class => 'new'
