
= render :partial => 'form', :locals =>{ :url => proyecto_proyecto_instruccion_instruccion_detalles_path(@proyecto, @instruccion)}

%p= link_to "Volver", proyecto_proyecto_instruccion_instruccion_detalles_path(@proyecto, @instruccion), :class => 'new'
