.fieldset
  = f.collection_radio :tipo, [[true, 'Recibido'] ,[false, 'Enviado']], :first, :last
  = f.input :contenido, :hint => "Escriba la correspondencia recibida que inicia este proyecto"
  = remove_child_link "Quitar", f

