.fieldset.correspondencia
  = f.collection_radio :tipo, [[true, 'Recibido'] ,[false, 'Enviado']], :first, :last
  = f.input :contenido, :hint => "Escriba el contenido de la correspondencia"
  = remove_child_link "Quitar email", f

