.fieldset
  %table{:border=>0}
    %tr
    %td
      = f.select :usuario_id, grouped_options_for_select(Usuario.all_for_areas)
    %td
      = f.input :tarea
    %td
      = f.input :fecha_limite, :as => :date
  = remove_child_link "Quitar tarea", f
  %br.clear

