.fieldset
  = f.input :referencia_email
  = f.simple_fields_for :instruccion_detalles, Proyecto::InstruccionDetalle.new do |m|
    .container
      = add_child_link "Añadir tarea", f, :instruccion_detalles
  = remove_child_link "Quitar Instruccion", f

