- title "Proyecto"

%p= link_to "Nuevo Proyecto", new_proyecto_proyecto_path, :class => 'new'
%table.providers-data-table
  %thead
    %tr
      %th Id
      %th Cliente
      %th Area
      %th Titulo
      %th Referencia cliente
      %th Prioridad
      %th
      %th
  %tbody

= will_paginate(@proyectos)

:javascript
  $(document).ready(function(){
    $(".providers-data-table").dataTable({"bJQueryUI"       : true,
                                        "bProcessing"     : true,
                                        "bAutoWidth"      : false,
                                        "sPaginationType" : "full_numbers",
                                        "aoColumns"       : [{"sType" : "html"}, null, null, null, null],
                                        "aaSorting"       : [[0, 'asc'], [1, 'asc']],
                                        "bServerSide"     : true,
                                        "sAjaxSource"     : "/proyecto/proyectos.json"    });
  });
