<div id="header">
  <% if usuario_signed_in? %>
    <ul>
      <li>Bienvenido(a) <b><%= current_usuario.nombre %></b>, sesión iniciada como <b><%=current_usuario.rol.name%></b> | <%= link_to "Salir", "/logout", :class => 'logout' %></li>
    </ul>
  <% end %>
</div>
