<div id="header">
  <% if usuario_signed_in? %>
    <ul>
      <li>Bienvenido(a) <b><%= current_usuario.nombre %></b>  | <%= link_to "Salir", "/logout", :class => 'logout' %></li>
    </ul>
  <% end %>
</div>
