<% if usuario_signed_in? %>
<ul id="navigation">
  <li class="first">
  	<a href="/marcas">Signos</a>
  	<ul>
      <li>
  	    <a href="/busquedas">Busquedas</a>
      </li>
            <li>
  	    <a href="/busquedas/busqueda_avanzada">Busqueda Avanzada</a>
      </li>
      <li>
  	    <a href="/consultas">Busquedas realizadas</a>
      </li>
      <li>
      	<a href="/reporte_marcas">Reportes realizados</a>
      </li>
      <li>
        <a href="/importaciones">Importaciones</a>
      </li>
      <li>
        <a href="#">Vigilancia</a>
      </li>
 	  </ul>
  </li>
  <li>
  	<a href="/representantes?cliente=true">Clientes</a>
  	<ul>
  		<li>
  			<a href="/representantes">Agentes/Titulares</a>
  		</li>
  	</ul>
  </li>


<!--  <li>
    <a href="#">Vigilancia</a>
  	<ul>
  		<li>
  			<a href="#/">Cruce con gaceta</a>
  		</li>
  	  <li>
  			<a href="#">Renovación de marcas</a>
      </li>
      <li>
  			<a href="#">Marcas por títular</a>
  		</li>
   	</ul>
    </li> -->

  <li>
  	<a href="#">Datos generales</a>
  	<ul>
  		<li>
  			<a href="/tipo_marcas">Tipos de marca</a>
  		</li>
  		<li>
  			<a href="/tipo_signos">Tipos de signo</a>
  		</li>
  		<li>
  			<a href="/clases">Clases</a>
  		</li>
  		<li>
  			<a href="/usuarios">Usuarios</a>
  		</li>
  		<li>
  			<a href="/paises">Paises</a>
  	</ul>
  </li>

  <li>
  	<a href="#">Reportes Estadísticos</a>
    <ul>
      <li>
        <%= last_importation %>
      </li>
    </ul>
  <!--	<ul>
  		<li>
  			<a href="#">Marcas por tipo signo</a>
  		</li>
  		<li>
  			<a href="#">Marcas por estado</a>
      </li>
    	<li>
  			<a href="#">Marcas propias/ajenas</a>
      </li>

    </ul>-->
  </li>

</ul>
<% end %>
