<% if user_signed_in? %>
<ul id="navigation">
  <li><a href="/clases">Clases</a></li>
  <li><a href="/solicitudes">Solicitudes</a></li>
  <li><a href="/agentes">Agentes</a></li>
  <li><a href="/titulares">Titulares</a></li>
  <li><a href="/logout">Salir</a></li>
</ul>
<% end %>
