<% if user_signed_in? %>
<ul id="navigation">
  <li class="first">
  	<a href="/marcas">Signos</a>
  	<ul>
      <li>
  	    <a href="/busquedas">Busquedas y reportes</a>
      </li>

      <li>
  	    <a href="/consultas">Busquedas realizadas</a>
      </li>
      <li>
        <a href="/importaciones">Importaciones</a>
      </li>
      <li>
        <a href="#">Vigilancia</a>
      </li>
 	  </ul>
  </li>
  <li>
  	<a href="#">Clientes</a>
  	<ul>
      <li>
  			<a href="/agentes">Agentes</a>
  		</li>
  		<li>
  			<a href="/titulares">Titulares</a>
  		</li>
  		<li>
  			<a href="/titulares">Cobranzas</a>
  		</li>
  	</ul>
  </li>


<!--  <li>
    <a href="#">Vigilancia</a>
  	<ul>
  		<li>
  			<a href="#/">Cruce con gaceta</a>
  		</li>
  	  <li>
  			<a href="#">Renovación de marcas</a>
      </li>
      <li>
  			<a href="#">Marcas por títular</a>
  		</li>
   	</ul>
    </li> -->

  <li>
  	<a href="#">Datos generales</a>
  	<ul>
  		<li>
  			<a href="/tipo_marcas">Tipos de marca</a>
  		</li>
  		<li>
  			<a href="/tipo_signos">Tipos de signo</a>
  		</li>
  		<li>
  			<a href="/clases">Clases</a>
  		</li>
  		<li>
  			<a href="/usuarios">Usuarios</a>
  		</li>
  		<li>
  			<a href="/paises">Paises</a>
  		</li>
<li>
  			<a href="/contactos">Contactos</a>
  		</li>
  	</ul>
  </li>

  <li>
  	<a href="#">Reportes</a>
  	<ul>
  		<li>
  			<a href="#">Marcas por agente</a>
  		</li>
  		<li>
  			<a href="#">Marcas por estado</a>
      </li>
  	</ul>
  </li>

</ul>
<% end %>
